{% extends 'blog/base.html' %}
{% block content %}
{% load static %}
<div class="container">
  <div class="row justify-content-left">
    <div class="col-12">
      <h2 class="text-center"><b>{{post.title}}</b></h2>
      <div class="row justify-content-center">
        <div class="col-10">
          <img class="rounded-circle article-img rounded float-left" src="{{ post.author.profile.image.url }}" alt="ads" style="height: 30px; width: 30px;">
          <a href="{% url 'user-posts' post.author.username %}" class="text-success"><b>{{post.author}}</b></a>
          {% if post.author.profile.instagram_link %}
          <a href="{{post.author.profile.instagram_link}}"><img src="{% static 'blog/insta.jpg' %}" class="rounded float-right p-1" alt="..." style="height: 30px;">&nbsp;</a>
          {% endif %}
          {% if post.author.profile.twitter_link %}
          <a href="{{post.author.profile.twitter_link}}"><img src="{% static 'blog/twitter.jpg' %}" class="rounded float-right p-1" alt="..." style="height: 30px;"></a>
          {% endif %}
          {% if post.author.profile.facebook_link %}
          <a href="{{post.author.profile.facebook_link}}"><img src="{% static 'blog/face.jpg' %}" class="rounded float-right p-1" alt="..." style="height: 30px;"></a>
          {% endif %}
          <small class="text-muted text-left">{{post.date_posted}}</small><br>
        </div>
      </div>
      <br>
      {% ifequal request.user post.author %}
        <p class="text-center"><a href="{% url 'post-create-add' post.slug%}" class="p-3 m-3"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
        </svg> Add More Content</a></p><br><br>
        <a href="{% url 'post-update' post.slug %}" class="p-3 m-3"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
        </svg>Update</a>
        <a href="{% url 'post-delete' post.slug %}"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-file-earmark-x-fill" viewBox="0 0 16 16">
        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM6.854 7.146L8 8.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 9l1.147 1.146a.5.5 0 0 1-.708.708L8 9.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 9 6.146 7.854a.5.5 0 1 1 .708-.708z"/>
        </svg>Delete</a>
        <br>
      {% endifequal %}
      <br>
      <img src="{{post.starting_image.url}}" class="img-thumbnail" alt="..."><br>
      <small class="text-muted">{{post.image_description}}</small><br><br>
      {{post.main_content}}
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <br><br>
      {% for i in post.postdetail_set.all %}
      {% ifequal request.user post.author %}
      <a href="{% url 'post-detail-update' post.slug i.pk %}" class="p-3 m-3"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
      </svg>Update</a>
      <a href="{% url 'post-detail-delete' post.slug i.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-file-earmark-x-fill" viewBox="0 0 16 16">
      <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM6.854 7.146L8 8.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 9l1.147 1.146a.5.5 0 0 1-.708.708L8 9.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 9 6.146 7.854a.5.5 0 1 1 .708-.708z"/>
      </svg>Delete</a>
      <br><br>
      {% endifequal %}
        {% if i.topic_heading %}
          <h3>{{i.topic_heading}}</h3>
        {% endif %}
        {% if i.image %}
          <img src="{{i.image.url}}" class="img-thumbnail" alt="..."><br>
        {% endif %}
        {% if i.content %}
          {{i.content}}<br>
        {% endif %}
        {% if i.urls_links %}
          <a href="{{ i.urls_links }}">{{i.url_title}}</a><br>
        {% endif %}
        {% if i.about %}
          {{i.about}}<br>
        {% endif %}
      {% endfor %}    
    </div>
  </div>
</div>
<br><br>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6" style="background-color: turquoise;">
      <img class="rounded-circle article-img rounded float-left" src="{{ post.author.profile.image.url }}" alt="ads" style="height: 30px; width: 30px;">
      <a href="" class="text-success"><b>{{post.author}}</b></a><br><br>
      <p class="text-left">{{post.about_you}} </p>
    </div>
  </div>
</div><br><br>


<h1>Comments</h1>
<a href="{% url 'comment' post.slug %}" class="p-3 m-3"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
</svg> Add Comment</a></p><br>
<div class="container">
  <div class="row justify-content-left">
    <div class="col-12">
      {% for i in post.addingcomment_set.all %}
        <img class="rounded-circle article-img rounded float-left" src="{{ i.C_author.profile.image.url }}" alt="ads" style="height: 30px; width: 30px;">
        <a href="{% url 'user-posts' i.C_author %}" class="text-success align-left"><b>{{i.C_author}}</b></a><br><br>
        {{i.comment}}
        {% ifequal request.user i.C_author %}
          <a href="{% url 'comment-delete' post.slug i.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-file-earmark-x-fill" viewBox="0 0 16 16">
          <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM6.854 7.146L8 8.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 9l1.147 1.146a.5.5 0 0 1-.708.708L8 9.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 9 6.146 7.854a.5.5 0 1 1 .708-.708z"/>
          </svg>Delete</a>
        {% endifequal %}
        <br><br><br>
      {% endfor %}
    </div>
  </div>
</div>

    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number">Previous</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    {% endif %}
    <br>
{% endblock content %}